<h1>Edit the recipe</h1>

<%= form_tag("/recipes/#{@recipe.id}", :method => :patch) do %>
  <div id="form_div">
    <div class="inner_div">
      <%= label_tag :title %>
      <%= text_field_tag :title, @recipe.title %>
    </div>

    <div class="inner_div">
      <%= label_tag :ingredient_list %>
      <%= text_field_tag :ingredient_list, @recipe.ingredient_list %>
    </div>

    <div class="inner_div">
      <%= label_tag :instructions %>
      <%= text_field_tag :instructions, @recipe.instructions %>
    </div>
  </div>

  <div>
    <%= submit_tag "Update Recipe", :class => "add_recipe_button" %>
  </div>

<% end %>