<h1>Here are all the recipes</h1>
<% if current_user %>
  <h2>Hi there, <%= current_user.email %>! We haven't seen you in a long time!</h2>
<% end %>
<div class="row">
  <% @recipes.each do |recipe| %>
    <div class="col-md-4 col-sm-6">
      <a href="/recipes/<%= recipe.id %>"><h2><%= recipe.title %></h2>
      <h3><%= recipe.ingredient_list %></h3>
      <h4><%= recipe.instructions %></h4>
      <img src="<%= recipe.image %>" height="200" width="200" >
      </a>
    </div>
  <% end %>
</div>