<h1>New Recipe</h1>

<%= form_tag '/recipes' do %>
  <div id="form_div">
    <div class="inner_div">
      <%= label_tag :title %>
      <%= text_field_tag :title %>
    </div>

    <div class="inner_div">
      <%= label_tag :ingredient_list %>
      <%= text_field_tag :ingredient_list %>
    </div>

    <div class="inner_div">
      <%= label_tag :instructions %>
      <%= text_field_tag :instructions %>
    </div>
  </div>

  <div>
    <%= submit_tag "Add Recipe", :class => "add_recipe_button" %>
  </div>

<% end %>